<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form name="form" action="{% url 'login' %}"
          method="POST">
        {% csrf_token %}

        <input type="text" name="name" id="nm"/>
        <input type="text" name="roll" id="rl"/>
        <select name="subject" id="s">
            <option value="1">Math</option>
            <option value="2">DSA</option>
            <option value="3">OOP</option>
            <option value="4">ADSA</option>
            <option value="5">FLAT</option>
        </select>
        
        <div style="max-width:470px;">
            <center>

                <button style="border:0px; background-color:#4285F4; margin-top:8%;
height:35px; width:80%;margin-left:19%;" type="submit"
                        value="submit">
                    <strong>Submit</strong>
                </button>

            </center>
        </div>

    </form>

    <script type="text/javascript">
        document.getElementById("nm").defaultValue = "{{name}}";
        document.getElementById("rl").defaultValue = "{{roll}}";
        const arr = ["Math", "DSA", "OOP", "ADSA", "FLAT"];
        var x="{{subject}}"
        var y = document.getElementById("s");
        var option = y.options[parseInt(x) - 1];
        option.setAttribute('selected', true);
        //defaultValue = arr[parseInt(x)-1];

    </script >
    </body>
</html>










































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































